<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Basic Project</title>
        <!-- <script type="text/javascript" src="/static/d3/d3.js"></script> -->
       <!--  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
       <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8/jquery.validate.min.js"></script> -->
       <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"> </script>
       <link rel="stylesheet" type="text/css" href="/static/css/stylepage.css">
       <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>

    <body>
      <script type="text/javascript" src="/static/js/ajax_calls.js"></script>
      <input type="text" name="interestingtextfield" id="interestingtextfield" class="svgCenter">
    <br>
    <p class="sideBside">
        <button type="button" class="sideBside btn btn-success" onclick="high_var()">High Var</button>
        <!-- <button type="button" class="sideBside btn btn-danger" onclick="low_var()">Low Var</button>-->
    </p>
    <p id="ClickLabel"> (Click graph for new display) </p>

            <div class="circ"></div>
        </div>
    </body>
</html>     

